<template>
<div class="admin-form">
  <!-- Input Fields -->
  <form class="form-horizontal" role="form" @submit.prevent="save">

    <div class="panel panel-border border-top panel-danger">

      <div class="panel-body">
        <div id="widget1" class="section-divider mb30 text-danger">
          <span><p class="customColor mn">Grupo</p></span>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Nome</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <input name="name" id="name" type="text" :class="{'form-control input': true, 'field-error': errors.has('name') }" placeholder="Digite o nome do grupo" v-model="accessGroup.name" autocomplete="off" v-validate="'required'">
              <em v-show="errors.has('name')" class="messege-error">{{ errors.first('name') }}</em>
            </div>
          </div>
          <div class="col-lg-6">
            <label class="block mt15 switch switch-danger">
                <input type="checkbox" name="accessGroupDisabled" id="accessGroupDisabled" v-model="accessGroup.disabled" checked>
                <label for="accessGroupDisabled" data-on="Sim" data-off="Não"></label>
            <span>Grupo inativo</span>
            </label>
          </div>

        </div>
        <div class="form-group">
          <label class="col-lg-1 control-label">Descrição</label>
          <div class="col-lg-11">
            <div class="bs-component">
              <input name="description" id="description" type="text" :class="{'form-control input': true, 'field-error': errors.has('description') }" placeholder="Digite uma descrição" v-model="accessGroup.description" autocomplete="off" v-validate="'required'">
              <em v-show="errors.has('description')" class="messege-error">{{ errors.first('description') }}</em>
            </div>
          </div>
        </div>

        <div id="widget1" class="section-divider mb30 text-danger">
          <span><p class="customColor mn">Projetos Vinculados</p></span>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Projetos</label>
          <div class="col-lg-11">
            <div class="bs-component">
              <Multiselect id="projects" name="projects" v-model="accessGroup.projects" :options="projects" :multiple="true" track-by="idProject" :searchable="true" label="name" :close-on-select="true" :clear-on-select="true" :allowEmpty="true" :hideSelected="false" placeholder="Selecione um ou mais projetos"
                selectLabel="Adicionar" deselectLabel="Remover" selectedLabel="Selecionado">
                <span slot="noResult">Registro não encontrado. Redefina a pesquisa!</span>
                <span slot="maxElements">Número máximo de registros selecionado.</span>
              </Multiselect>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label"></label>
          <div class="col-lg-3">
            <div class="bs-component">
              <label class="block mt15 switch switch-danger">
                  <input type="checkbox" name="writePermission" id="writePermission" v-model="accessGroup.writePermission" checked>
                  <label for="writePermission" data-on="Sim" data-off="Não"></label>
              <span>Escrita</span>
              </label>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="bs-component">
              <label class="block mt15 switch switch-danger">
                  <input type="checkbox" name="readPermission" id="readPermission" v-model="accessGroup.readPermission" checked>
                  <label for="readPermission" data-on="Sim" data-off="Não"></label>
              <span>Leitura</span>
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <sui-button class="ui left grey button" @click.prevent="voltar">Voltar</sui-button>
        <sui-button class="ui right floated customBtn button">Salvar</sui-button>
      </div>

    </div>
  </form>
</div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  name: 'accessGroupDetail',
  components: {
    Multiselect
  },
  data() {
    return {
      projects: [],
      tableAccessGroups: null,
      accessGroup: {
        disabled: false,
        writePermission: false,
        readPermission: false
      }
    }
  },
  computed: {

  },
  created: function() {
    this.accessGroup = this.$store.state.accessGroup;
  },
  mounted() {
    this.accessGroup = this.$store.state.accessGroup;
    this.listProjects();
  },
  methods: {
    listProjects: function() {
      this.$http.get('/project/list/loggedCompany')
        .then(r => {
          this.projects = r.body;
        })
    },
    voltar: function() {
      this.$router.push('/home/accessGroups');
    },
    renderTable: function() {
      if (this.tableAccessGroups == null) {
        this.tableAccessGroups = $('#tableAccessGroups').DataTable({
          dom: '<"top dt-panelmenu"fl>rt<"bottom dt-panelfooter"ip>',
          language: {
            url: '/static/vendor/plugins/datatables/i18n/pt_BR.json'
          },
          order: [
            [0, "desc"]
          ]
        });
      } else {
        //        this.tableUsers.ajax.reload(null, false);
      }
    },
    save: function(event) {
      event.preventDefault();

      this.$validator.validate().then(result => {
        if (result) {
          this.$http.post('/accessGroup', this.accessGroup)
            .then(r => {
              this.$router.push('/home/accessGroups');
              this.$nextTick(() => this.$validator.reset());
            })
        }else{
          this.$notify.addErrorMessage('Verifique os erros antes de prosseguir.');
        }
      });


    },
    successSave() {
      var isNew = (this.accessGroup.idAccessGroup == null);
      this.resetAccessGroup();
      var msg = 'Grupo alterado.'
      if (isNew) {
        msg = 'Grupo cadastrado.'
      }
      this.$notify.addSuccessMessage(msg);
    },
    resetAccessGroup: function() {
      this.accessGroup = {
        disabled: false
      };
    }
  }
}
</script>

<style>
.white-popup {
  position: relative;
  background: #FFF;
  /* padding: 20px; */
  width: auto;
  /* margin: 20px auto; */
}

#custom-blockquote {
  padding: 0 10px;
}
</style>
