<template>
<form class="panel panel-widget draft-widget panel-border border-top" id="p5">
  <div class="panel-heading">
    <span class="panel-icon">

        </span>
    <span class="panel-title">
          <sui-button class="ui right customBtn button" @click="addAccessGroup"><i class="fa fa-users"></i>&nbsp;Criar novo Grupo</sui-button>
        </span>
  </div>
  <div class="panel panel-visible" id="spy2">
    <div class="panel-body pn">
      <table class="table table-striped table-hover" id="tableAccessGroup" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th style="width:200px">Nome</th>
            <th>Descrição</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="u in accessGroups">
            <td><a @click="editAccessGroup(u)">{{u.idAccessGroup}}</a></td>
            <td><a @click="editAccessGroup(u)">{{u.name}}</a></td>
            <td><a @click="editAccessGroup(u)">{{u.description}}</a></td>
            <td v-if="u.disabled"><span class="label label-danger">Inativo</span></td>
            <td v-if="!u.disabled"><span class="label label-info">Ativo</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</form>
</template>

<script>
export default {
  name: 'accessGroups',
  data() {
    return {
      accessGroups: [],
      tableAccessGroup: null
    }
  },
  components: {},
  mounted() {
    window.hub.$on('refreshAccessGroup', this.getUsers);
    this.getUsers();
  },
  beforeDestroy() {
    window.hub.$off('refreshAccessGroup');
  },
  methods: {
    getUsers: function() {
      this.$http.get('/accessGroup')
        .then(response => {
          this.accessGroups = response.body;
        })
        .then(() => {
          this.renderTable();
        });
    },
    renderTable: function() {
      if (this.tableAccessGroup == null) {
        this.tableAccessGroup = $('#tableAccessGroup').DataTable({
          dom: '<"top dt-panelmenu"fl>rt<"bottom dt-panelfooter"ip>',
          language: {
            url: '/static/vendor/plugins/datatables/i18n/pt_BR.json'
          },
          order: [
            [0, "desc"]
          ]
        });
      } else {
        //        this.tableAccessGroup.ajax.reload(null, false);
      }
    },
    addAccessGroup: function() {
      this.$store.commit('setAccessGroupEdit', {
        disabled: false
      });
      this.$router.push('/home/accessGroupDetail');
    },
    editAccessGroup: function(u) {
      this.$http.get('/accessGroup/' + u.idAccessGroup)
        .then(response => {
          console.log('asdfasdfsadf')
          console.log(response.body);
          this.$store.commit('setAccessGroupEdit', response.body);
          this.$router.push('/home/accessGroupDetail');
        });
    },
  }


}
</script>

<style>
</style>
