<template>
<div>
  <div class="admin-form">
    <div class="panel">
      <form class="form-horizontal" role="form">
        <div class="panel-body">
          <div class="form-group">
            <label class="col-lg-1 control-label">Nome</label>
            <div class="col-md-8">
              <div class="bs-component">
                <input name="name" id="name" type="text" :class="{'form-control input': true, 'is-danger': errors.has('name') }" placeholder="Nome do projeto" v-model="project.name" autocomplete="off" v-validate="'required'">
                <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="bs-component">
                <label class="option pull-right">
                    <input type="checkbox" name="pjDisabled" v-model="project.disabled">
                    <span class="checkbox"></span>Desativar Projeto ?
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="fileupload fileupload-new" @click="selectFile">
              <label class="col-lg-1 control-label">Imagem</label>
              <div class="col-lg-11">
                <div class="bs-component">
                  <div class="fileupload-preview thumbnail mb20">
                    <img id="previewProfileImage" name="previewProfileImage" v-bind:src="(project.imgUrl) ? project.imgUrl : 'static/assets/img/void-image.png'" width="400">
                  </div>
                  <div class="col-md-12 text-center text-danger">
                    <span>Recomendado 400x400</span>
                  </div>
                  <div v-show="false"><input id="inputProfileImageUpload" name="inputProfileImageUpload" type="file" accept="image/*" @change="fileSelected"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-1 control-label">Descrição</label>
            <div class="col-lg-11">
              <div class="bs-component">
                <input name="description" id="description" type="text" :class="{'form-control input': true, 'is-danger': errors.has('description') }" placeholder="Descrição do projeto" v-model="project.description" autocomplete="off" v-validate="'required'">
                <span v-show="errors.has('description')" class="help is-danger">{{ errors.first('description') }}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-12">
              <div class="bs-component">
                <label class="field prepend-icon">
                                <textarea class="gui-textarea" id="fullDescription" name="fullDescription" v-model="project.fullDescription" placeholder="Informações adicionais"></textarea>
                                  <label for="fullDescription" class="field-icon">
                                    <i class="fa fa-comments"></i>
                                  </label>
                <span class="input-footer">
                                    <strong>Dica:</strong>Adicione informações importantes relacionadas ao projeto</span>
                </label>
                <span v-show="errors.has('fullDescription')" class="help is-danger">{{ errors.first('fullDescription') }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="ui grey button" @click.prevent="cancel">Voltar</button>
          <button class="ui right floated customBtn button" @click="save">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'projectDetail',
  data() {
    return {
      project: {}
    }
  },
  components: {},
  created() {},
  mounted() {
    this.project = this.$store.state.project;
    if (this.project.projectImg) {
      $('#previewProfileImage').attr('src', this.project.imgUrl);
    }
  },
  beforeDestroy() {},
  methods: {
    selectFile: function() {
      $('#inputProfileImageUpload').click();
    },
    fileSelected: function(fileName) {
      var input = document.getElementById('inputProfileImageUpload');
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#previewProfileImage').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        this.showPreview = true;
        this.canUpload = true;
      } else {
        this.showPreview = false;
      }
    },
    uploadFile: function(project) {
      // if ($("#userProfileImageUploadForm").valid()) {
      var input = document.getElementById('inputProfileImageUpload');
      if (input.files && input.files[0]) {
        let data = new FormData();
        data.append('file', input.files[0])
        var idProject = project.idProject;
        var endpoint = `/project/${idProject}/uploadImg/`;
        this.$http.post(endpoint, data).then(r => {
            if (r.status === 200) {
              this.$store.commit('setProjectEdit', r.body);
            }
          })
          .catch(function(resp) {
            console.log(resp);
            this.$notify.addErrorMessage('Falha no upload. Tente novamente.');
          })
      }
      // }
    },
    cancel: function() {
      this.$router.push('/home/projects');
    },
    save: function(event) {
      event.preventDefault();
      let isNew = (this.project.idProject) ? false : true;
      let pj = null;
      if (isNew) {
        pj = this.project;
      } else {
        pj = {};
        pj.name = this.project.name;
        pj.description = this.project.description;
        pj.disabled = this.project.disabled;
        pj.idProject = this.project.idProject;
        pj.fullDescription = this.project.fullDescription;
        pj.imgUrl = this.project.imgUrl;
      }
      this.$http.post('/project', pj)
        .then(r => {
          if (r.status === 200) {
            var pj = r.body;
            this.$store.commit('setProjectEdit', pj);
            this.uploadFile(pj);
            if (isNew) {
              this.$notify.addSuccessMessage('Projeto criado.');
            } else {
              this.$notify.addSuccessMessage('Projeto alterado.');
            }

          }
        })
    }
  }
}
</script>

<style>
.form-horizontal .checkbox {
  min-height: 0px;
}
</style>
