

<template>
<div class="tab-block mb25">
  <ul class="nav nav-tabs tabs-border nav-justified">
    <li v-bind:class="tabActive('project')" v-if="isAdmin()">
      <a href="#tab15_1" data-toggle="tab" aria-expanded="true">Projeto</a>
    </li>
    <li v-bind:class="tabActive('files')" v-if="$store.state.project.idProject">
      <a href="#tab15_2" data-toggle="tab" aria-expanded="false">Arquivos</a>
    </li>
    <li v-bind:class="tabActive('members')" v-if="$store.state.project.idProject && isAdmin()">
      <a href="#tab15_3" data-toggle="tab" aria-expanded="false">Membros</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="tab15_1" class="tab-pane" v-bind:class="tabActive('project')">
      <ProjectDetail/>
    </div>
    <div id="tab15_2" class="tab-pane" v-bind:class="tabActive('files')" v-if="$store.state.project.idProject">
      <ProjectFiles/>
    </div>
    <div id="tab15_3" class="tab-pane" v-bind:class="tabActive('members')" v-if="$store.state.project.idProject">
      <ProjectMembers/>
    </div>
  </div>
</div>
</template>

<script>
import ProjectDetail from './ProjectDetail.vue';
import ProjectFiles from './ProjectFiles.vue';
import ProjectMembers from './ProjectMembers.vue';

export default {
  name: 'projectTabs',
  data() {
    return {
    }
  },
  components: {
    ProjectDetail, ProjectFiles, ProjectMembers
  },
  created() {},
  computed: {
    project: function() {
      return this.$store.state.project;
    },
    currentUser: function() {
      return this.$store.state.currentUser;
    }
  },
  mounted() {

  },
  beforeDestroy() {},
  methods: {
    tabActive: function(tab) {
      if (!this.project.tab) {
        this.project.tab = 'project';
      }
      return {
        active: this.project.tab === tab
      }
    },
    isAdmin() {
        return (this.currentUser.perfil && this.currentUser.perfil.name === 'ADMIN');
    }
  }
}
</script>

<style>
</style>
