<template>
<div>

  <div class="admin-form">

    <form class="form-horizontal" role="form" method="POST" v-if="forceRender">
      <div v-for="(pj, pjIdx) in projects">
        <div class="panel">
          <sui-accordion exclusive>
            <sui-accordion-title :active="pjIdx === 0">
              <div class="panel-heading">
                <sui-icon name="dropdown" />
                <span class="fa fa-folder-open" />&nbsp;&nbsp;&nbsp;{{pj.name}} <span class="pull-right">{{(countFiles(pj.files))}}</span>
              </div>
            </sui-accordion-title>
            <sui-accordion-content :active="pjIdx === 0">
              <div class="panel-body">
                <ol class="timeline-list timeline-item-hover pl5">
                  <li class="timeline-item" v-for="(f,index) in filesFilter(pj.files)" v-bind:key="f.idFile">
                    <div class="timeline-icon bg-dark light">
                      <sui-icon :name="fileType(f.name)" />
                    </div>
                    <div class="timeline-desc">
                      <div>
                        <sui-accordion exclusive>
                          <sui-accordion-title>
                            <b>{{f.name}}</b>
                          </sui-accordion-title>
                          <div class="meta">
                            Criado em {{new Date(f.createAt) | moment('DD/MM/YYYY HH:mm:ss')}} por <b>{{(f.uploadedBy) ? f.uploadedBy.name : ''}}</b>
                            <br/><span v-if="f.updateAt">Última alteração {{new Date(f.updateAt) | moment('DD/MM/YYYY HH:mm:ss')}}</span>

                          </div>
                          <sui-accordion-content v-bind:active="index === 0">
                            <!-- <p>
                            A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.
                          </p> -->
                            <div>
                              <sui-button @click.prevent="deleteFile(pj, f)" v-if="isAdmin()">Remover</sui-button>
                              <sui-button class="right customBtn" @click.prevent="prepareDownloadFile(f)">Download</sui-button>
                            </div>
                          </sui-accordion-content>
                        </sui-accordion>
                      </div>
                    </div>
                    <!-- <div class="timeline-date">Criado em {{new Date(f.createAt) | moment('DD/MM/YYYY HH:mm:ss')}}<br/><span v-if="f.updateAt">Última alteração {{new Date(f.updateAt) | moment('DD/MM/YYYY HH:mm:ss')}}</span></div> -->
                  </li>
                </ol>
                <div class="ui icon message" v-if="(pj) ? (filesFilter(pj.files).length === 0) : true">
                  <i class="file alternate icon"></i>
                  <div class="content">
                    <div class="header">
                      Atenção
                    </div>
                    <p>Nenhum arquivo cadastrado ainda.</p>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <!-- <button class="ui grey button" @click.prevent="cancel" v-show="pj.parentProject != null">Voltar</button> -->
                  <sui-button compact @click.prevent="cancel" content="Voltar" />
                  <sui-button class="grey" icon="plus square outline" @click.prevent="showNewSubProject()" content="Criar pasta" v-if="isAdmin(pj) && !pj.parentProject" />
                  <sui-button floated="right" class="ui customBtn button" @click.prevent="selectFile(pj)" v-if="isEditor(pj)">Novo arquivo</sui-button>
                  <sui-button size="small" class="grey" icon="trash" @click.prevent="deleteSubProject(pj)" content="Rem. pasta" v-if="isAdmin() && pj.parentProject" />
              </div>
              <div v-show="false"><input type="file" v-bind:id="'inputFileUpload' + pj.idProject" @change="fileSelected(pj, this)"></div>
            </sui-accordion-content>
          </sui-accordion>
        </div>
        <SubProjectCreate v-if="subProjectCreate && pjIdx === 0" />
      </div>
    </form>
  </div>
</div>
</template>

<script>
import SubProjectCreate from './SubProjectCreate.vue'
export default {
  name: 'projectFiles',
  data() {
    return {
      subProjectCreate: false,
      projects: [],
      forceRender: true
    }
  },
  components: {
    SubProjectCreate
  },
  created() {},
  mounted() {
    this.loadProjects();
  },
  computed: {
    project: function() {
      return this.$store.state.project;
    },
    currentUser: function() {
      return this.$store.state.currentUser;
    }
  },
  beforeDestroy() {},
  watch: {},
  methods: {
    cancel: function() {
      this.$router.push('/home/projects');
    },
    loadProjects: function(pj) {
      if (!pj) {
        pj = this.project;
      }
      if (pj.childProjects && pj.childProjects.length > 0) {
        var pjs = [];
        pjs.push(pj);
        pj.childProjects.forEach((child) => {
          if(!child.disabled) {
            pjs.push(child);
          }
        })
        this.projects = pjs;
      } else {
        this.projects = [pj];
      }
    },
    selectFile: function(pj) {
      $('#inputFileUpload' + pj.idProject).click();
    },
    fileSelected: function(pj, fileName) {
      var input = $('#inputFileUpload' + pj.idProject).get(0);
      if (input.files && input.files[0]) {
        let f = input.files[0];
        // gerar url put
        var idProject = pj.idProject;
        let fileName = btoa(f.name);
        let contentType = btoa(f.type);
        let contentTypeParam = f.type;
        if(!contentType){
          // Content-type padrao, caso nao detect.
          contentTypeParam = 'application/octet-stream';
          contentType = btoa(contentTypeParam);
        }
        let endpoint = `/gcsRest/createPutUrl/${idProject}/${fileName}/${contentType}`;
        this.$http.get(endpoint)
          .then(r => {
            if (r.status === 200) {
              let respGetUrl = r.body;
              console.log('contenttype after url '+contentTypeParam)
              this.putStorage(pj, respGetUrl, f, contentTypeParam);
            }
          })
          .catch(function(resp) {
            console.log(resp);
            this.$notify.addErrorMessage('Falha no processo de upload');
          })
      }

    },
    putStorage: function(pj, respGetUrl, file, contentTypeParam) {
      console.log('contenttype before put '+contentTypeParam)
      var extra = {
        headers: {
          'Content-Type': contentTypeParam
        }
      }
      this.$http.put(respGetUrl.url, file, extra).then(r => {
          if (r.status === 200) {
            this.saveFileData(pj, file.name, respGetUrl.storageFileName, file.size);
          }
        })
        .catch(function(resp) {
          console.log(resp);
          this.$notify.addErrorMessage('Falha no upload. Tente novamente.');
        })
    },
    saveFileData: function(pj, fileName, fileNameStorage, fileSize) {
      let idProject = pj.idProject;
      let fileData = {
        name: fileName,
        storageName: fileNameStorage,
        size: fileSize
      }
      this.$http.post(`/project/${idProject}/saveFileData/`, fileData)
        .then(r => {
          if (r.status === 200) {
            let project = r.body;
            project.tab = 'files';
            this.$store.commit('setProjectEdit', project);
            this.$notify.addSuccessMessage("Arquivo salvo.");
            this.$nextTick(() => this.loadProjects());
          }
        })
        .catch(function(resp) {
          console.log(resp);
          this.$notify.addErrorMessage('Falha ao salvar dados do arquivo. Tente novamente.');
        })
    },
    fileType: function(fileName) {
      var ext = fileName.split('.').pop();
      switch (ext) {
        case 'xls':
        case 'xlsx':
          return 'file excel outline';
        case 'doc':
        case 'docx':
        case 'rtf':
          return 'file word outline';
        case 'pdf':
          return 'file pdf outline';
        case 'gif':
        case 'png':
        case 'bmp':
        case 'tiff':
        case 'tif':
        case 'jpg':
        case 'jpeg':
          return 'file image outline';
        default:
          return 'file alternate outline';
      }
    },
    loadProject: function(idProject) {
      this.$http.get(`/project/${idProject}`)
        .then(r => {
          if (r.status === 200) {
            let project = r.body;
            project.tab = 'files';
            this.$store.commit('setProjectEdit', project);
            this.loadProjects();
          }
        })
        .catch(function(resp) {
          console.log(resp);
          this.$notify.addErrorMessage('Falha ao carregar o projeto.');
        })
    },
    prepareDownloadFile: function(file) {
      this.$http.get(`/gcsRest/createGetUrl/${file.idFile}`)
        .then(r => {
          if (r.status === 200) {
            let resp = r.body;
            this.downloadFile(resp.url, resp.fileName);
          }
        })
    },
    downloadFile: function(url, fileName) {
      this.$http.get(url, {
          responseType: 'blob'
        })
        .then(r => {
          if (r.status === 200) {
            this.$notify.addSuccessMessage("Arquivo baixado com sucesso");
            return r.blob();
          }
        })
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', fileName);
          document.body.appendChild(link);
          link.click();
        })
        .catch(function(resp) {
          this.$notify.addErrorMessage('Falha no download. Tente novamente mais tarde.');
        })
    },
    deleteFile: function(pj, file) {
      this.$swal({
        title: 'Tem certeza ?',
        text: 'Não será possível recuperar este arquivo.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'Remover',
        cancelButtonText: 'Cancelar',
        confirmButtonClass: 'btn customBtn',
        cancelButtonClass: 'btn btn-secondary',
        buttonsStyling: true,
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          var idProject = pj.idProject;
          var fileName = file.name;
          this.$http.delete(`/file/${idProject}/${file.idFile}/`)
            .then(r => {
              if (r.status === 200) {
                this.$notify.addSuccessMessage(`Arquivo '${fileName}' removido`);
                this.loadProject(idProject);
                this.forceRender = false;
                this.forceRender = true;
              }
            })
            .catch(function(resp) {
              console.log(resp);
              this.$notify.addErrorMessage(`Falha ao remover o arquivo '${fileName}'. Tente novamente mais tarde.`);
            })
        }
      })

    },
    isAdmin() {
      return (this.currentUser.perfil && this.currentUser.perfil.name === 'ADMIN');
    },
    isEditor: function(project) {
      let editor = false;
      console.log('pjId', project.idProject);
      if (this.$store.state.currentUser) {
        let user = this.$store.state.currentUser;
        let isAdmin = (user && user.perfil && user.perfil.name === 'ADMIN');
        if (isAdmin) {
          return true;
        }
        console.log('user.accessGroup', user.accessGroup);
        if (project && user && user.accessGroup) {
          let ag = user.accessGroup;
          if (!ag.disabled && ag.writePermission) {
            if (ag.projects) {
              ag.projects.forEach((p) => {
                if (p.idProject === project.idProject) {
                  editor = true;
                  return;
                }
              })
            }
          }
        }
        return editor;
      }
    },
    showNewSubProject() {
      this.subProjectCreate = !this.subProjectCreate;
    },
    deleteSubProject: function(pj) {
      this.$swal({
        title: 'Tem certeza ?',
        text: 'Todos os arquivos desta pasta serão excluídos.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Remover',
        cancelButtonText: 'Cancelar',
        confirmButtonClass: 'btn customBtn',
        cancelButtonClass: 'btn btn-secondary',
        buttonsStyling: true,
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          let pjPost = {};
          pjPost.idProject = pj.idProject;
          pjPost.name = pj.name;
          pjPost.disabled = true;
          this.$http.post('/project', pjPost)
            .then(r => {
              if (r.status === 200) {
                let pjResp = r.body;
                pjResp.disabled = true;
                pjResp.tab = 'files';
                this.$store.commit('setProjectEdit', pjResp);
                this.$notify.addSuccessMessage('Sub pasta removida.');
                this.loadProjects(pjResp);
              }
            })
        }
      })
    },
    filesFilter: function(files) {
      if (!files) {
        return [];
      }
      return files.filter((f) => {
        return !f.removed;
      })
    },
    countFiles: function(files) {
      let ff = this.filesFilter(files)
      if (!files || ff.length === 0) {
        return ''
      } else {
        let plur = (ff.length > 1) ? 'arquivos' : 'arquivo';
        return ' (' + ff.length + ') ' + plur;
      }
    }
  }

}
</script>

<style>
.meta {
  font-size: 12px
}

.ui.accordion .accordion {
  padding: 0;
  margin: 0;
}

.ui.accordion .title:not(.ui) {
  padding: 0;
}

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui),
.ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding: 0;
}
</style>
