<template>
<form class="panel panel-widget draft-widget panel-border border-top">

  <div class="panel-heading" v-if="isEditor()">
    <span class="panel-title">
        <button class="ui customBtn button" @click.prevent="addProject">Criar novo projeto</button>
        <button class="ui button" @click.prevent="setOnlyEnabledProjects" v-if="this.onlyEnabledProjects">Listar inativos</button>
        <button class="ui button" @click.prevent="setOnlyEnabledProjects" v-if="!this.onlyEnabledProjects">Listar somente ativos</button>
    </span>
  </div>
  <div>
    <sui-card-group :items-per-row="($mq === 'mobile') ? 1 : 2" v-if="(projects) ? projects.length > 0 : false">
      <sui-card v-for="p in projectList" :key="p.idProject" class="fluid">
        <sui-dimmer-dimmable @mouseenter.native="p.cardActive = true" @mouseleave.native="p.cardActive = false">
          <sui-image v-bind:src="(p.imgUrl) ? p.imgUrl : 'static/assets/img/void-image.png'" onerror="this.onerror=null;this.src='static/assets/img/void-image.png';" />
          <sui-dimmer blurring :active="p.cardActive">
            <sui-button inverted @click.prevent="openTab(p, 'project')" v-if="isEditor(p)">Editar</sui-button>
            <sui-button inverted @click.prevent="openTab(p, 'files')">Arquivos</sui-button>
            <sui-button inverted @click.prevent="openTab(p, 'members')" v-if="isEditor(p)">Convidar usuário</sui-button>
          </sui-dimmer>
        </sui-dimmer-dimmable>
        <sui-card-content>
          <sui-card-header>{{p.name}}</sui-card-header>
          <sui-card-meta>Criado em {{ new Date(p.createAt) | moment('DD/MM/YYYY HH:mm:ss')}}</sui-card-meta>
          <sui-card-description>
            <sui-accordion exclusive>
              <sui-accordion-title>
                <sui-icon name="search plus" /> {{p.description}}
              </sui-accordion-title>
              <sui-accordion-content>
                {{p.fullDescription}}
              </sui-accordion-content>
            </sui-accordion>

          </sui-card-description>


        </sui-card-content>
        <sui-card-content extra>
          <sui-icon name="users" /> {{p.countUsers}} Membros
          <span class="right floated"><sui-icon name="file pdf"/> {{p.countfiles}} </span>
          <br/>
          <span v-show="p.updateAt">Atualizado em {{(p.updateAt) ? lastUpdateFmt(p) : ''}}</span>
        </sui-card-content>
      </sui-card>
    </sui-card-group>

    <div class="ui icon message" v-if="(projects) ? projects.length == 0 : true">
      <i class="inbox icon"></i>
      <div class="content">
        <div class="header">
          Atenção
        </div>
        <p>Nenhum projeto cadastrado ainda.</p>
      </div>
    </div>

  </div>
</form>
</template>

<script>
export default {
  name: 'projects',
  data() {
    return {
      projects: {},
      currentUser: this.$store.state.currentUser,
      onlyEnabledProjects: true
    }
  },
  components: {},
  mounted() {
    this.getProjects();
  },
  beforeDestroy() {},
  computed: {
    projectList: function() {
      return this.projects.filter((pj) => {
        if (this.onlyEnabledProjects) {
          return !pj.disabled;
        } else {
          return pj.disabled;
        }
      })
    },
  },
  methods: {
    isEditor: function(project) {
      let editor = false;
      if (this.$store.state.currentUser) {
        let user = this.$store.state.currentUser;
        let isAdmin = (user && user.perfil && user.perfil.name === 'ADMIN');
        if (isAdmin) {
          return true;
        }
        // console.log('user.accessGroup', user.accessGroup);
        if (project && user && user.accessGroup) {
          let ag = user.accessGroup;
          if (!ag.disabled && ag.writePermission) {
            if (ag.projects) {
              ag.projects.forEach((p) => {
                if (p.idProject === project.idProject) {
                  editor = true;
                  return;
                }
              })
            }
          }
        }
        return editor;
      }
    },
    getProjects: function() {
      this.$http.get('/project')
        .then(response => {
          // console.log(response.body);
          this.projects = response.body;
        })
    },
    addProject: function() {
      this.$store.commit('setProjectEdit', {});
      this.$router.push('/home/projectTabs');
    },
    openTab: function(p, tab) {
      this.$http.get('/project/' + p.idProject)
        .then(response => {
          // console.log(response.body);
          var project = response.body;
          project.tab = tab;
          this.$store.commit('setProjectEdit', project);
          this.$router.push('/home/projectTabs');
        });
    },
    lastUpdateFmt: function(p) {
      if (p && p.updateAt) {
        return this.$moment(new Date(p.updateAt)).format('DD/MM/YYYY HH:mm:ss');
      }
    },
    setOnlyEnabledProjects: function() {
      this.onlyEnabledProjects = !this.onlyEnabledProjects;
      this.getProjects();
    }
  }
}
</script>

<style>
</style>
