<template>
<div>
  <div class="admin-form">
    <div class="panel">
      <form class="form-horizontal" role="form">
        <div class="panel-heading">
          <i class="fa fa-user-plus" /> <span>{{project.name}}</span>
        </div>

        <div class="panel-body">

          <div class="form-group">
            <label class="col-lg-1 control-label">Nome</label>
            <div class="col-lg-4">
              <div class="bs-component">
                <input name="name" id="name" type="name" :class="{'form-control input': true, 'field-error': errors.has('name') }" placeholder="Nome do convidado" v-model="invitedUser.name" autocomplete="off" v-validate="'required'" data-vv-as="Nome">
                <em v-show="errors.has('name')" class="messege-error">{{ errors.first('name') }}</em>
              </div>
            </div>

            <label class="col-lg-1 control-label">E-mail</label>
            <div class="col-lg-4">
              <div class="bs-component">
                <input name="email" id="email" type="email" :class="{'form-control input': true, 'field-error': errors.has('email') }" placeholder="E-mail do convidado" v-model="invitedUser.email" autocomplete="off" v-validate="{'required': true,'email' : true }" data-vv-as="E-mail">
                <em v-show="errors.has('email')" class="messege-error">{{ errors.first('email') }}</em>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="col-lg-6 bs-component">
                <button class="ui customBtn button" @click.prevent="inviteUser">+</button>
              </div>
            </div>

            <div class="col-md-12">
              <table class="table table-striped table-hover" id="tableMembers" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th style="width:200px">Nome</th>
                    <th>Perfil</th>
                    <th>E-mail</th>
                    <th>Último login em</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="m in project.allowedUsers">
                    <td><a @click="">{{m.name}}</a></td>
                    <td><a @click="">{{m.perfil && m.perfil.name}}</a></td>
                    <td><a @click="">{{m.email}}</a></td>
                    <td><a @click="">{{m.lastLogin && new Date(m.lastLogin) | moment('DD/MM/YYYY HH:mm:ss')}}</a></td>
                    <td><a @click="">{{m.registrationStatus && m.registrationStatus.description}}</a></td>
                    <td>
                      <button class="ui blue icon button" :disabled="m.registrationStatus.name != 'INVITED'" @click.prevent="reInviteUser(m)">
                          <i class="envelope icon"></i>
                        </button>
                      <button class="ui red icon button" @click.prevent="removeUserFromProject(m)">
                          <i class="minus circle icon"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="ui grey button" @click.prevent="cancel">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</template>

<script>
var initInvitedUser = function() {
  return {
    name: null,
    email: null
  }
}

export default {
  name: 'projectMembers',
  data() {
    return {
      invitedUser: initInvitedUser(),
      value: null
    }
  },
  computed: {
    project: function() {
      return this.$store.state.project;
    }
  },
  components: {},
  created() {},
  mounted() {
  },
  beforeDestroy() {},
  methods: {
    cancel: function() {
      this.$router.push('/home/projects');
    },
    inviteUser: function() {
      this.$validator.validate().then(result => {
        if (result) {
          let idProject = this.project.idProject;
          this.$http.post(`/project/${idProject}/invite`, this.invitedUser)
            .then(r => {
              if (r.status === 200) {
                let pj = r.body;
                pj.tab = 'members';
                this.$store.commit('setProjectEdit', pj);
                this.$notify.addSuccessMessage('Usuário convidado.');
                this.invitedUser = initInvitedUser();
                this.$nextTick(() => this.$validator.reset())
              }
            })
            .catch(function(resp) {
              console.log(resp);
              this.$notify.addErrorMessage('Falha ao convidar usuário para o projeto.');
            })
        } else {
          this.$notify.addErrorMessage('Verifique os erros antes de prosseguir.');
        }
      });
    },
    reInviteUser: function(user) {
      this.invitedUser = initInvitedUser();
      this.invitedUser.name = user.name;
      this.invitedUser.email = user.email;
      let idProject = this.project.idProject;
      this.$http.post(`/project/${idProject}/invite`, this.invitedUser)
        .then(r => {
          if (r.status === 200) {
            let pj = r.body;
            pj.tab = 'members';
            this.$store.commit('setProjectEdit', pj);
            this.$notify.addSuccessMessage('Convite reenviado.');
            this.invitedUser = initInvitedUser();
          }
        })
        .catch(function(resp) {
          console.log(resp);
          this.$notify.addErrorMessage('Falha ao reenviar o convite.');
        })

    },
    removeUserFromProject: function(user) {

      this.$swal({
        title: 'Tem certeza ?',
        text: 'O usuário será removido do projeto.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Remover',
        cancelButtonText: 'Cancelar',
        confirmButtonClass: 'btn customBtn',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: true,
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.$http.post(`/project/${this.project.idProject}/remove/` + user.idUser)
            .then(r => {
              if (r.status === 200) {
                let pj = r.body;
                pj.tab = 'members';
                this.$store.commit('setProjectEdit', pj);
                this.$notify.addSuccessMessage('Usuário removido.');
              }
            })
            .catch(function(resp) {
              console.log(resp);
              this.$notify.addErrorMessage('Falha ao remover usuário do projeto.');
            })
        }
      })
    },
    loadProject: function(idProject) {
      this.$http.get(`/project/${idProject}`)
        .then(r => {
          if (r.status === 200) {
            this.project = r.body;
            this.$store.commit('setProjectEdit', this.project);
          }
        })
        .catch(function(resp) {
          console.log(resp);
          this.$notify.addErrorMessage('Falha ao carregar o projeto.');
        })
    }
  }
}
</script>

<style>
</style>
