<template>
  <div class="admin-form">
    <div class="panel">
      <div class="panel-heading">
        <sui-input placeholder="Digite o nome da pasta" transparent focus size="100%" v-model="subProject.name"/>
      </div>
      <div class="panel-footer">
        <button class="ui grey button" @click.prevent="cancel">Cancelar</button>
        <sui-button class="ui right floated customBtn button" @click.prevent="saveSubProject">Salvar pasta</sui-button>
      </div>
    </div>
  </div>
</template>

<script>
function initSubProject() {
  return  { name:''}
}

export default {
  name: 'subProjectCreate',
  data() {
    return {
      subProject: initSubProject(),
      parentProject: this.$store.state.project,
      currentUser: this.$store.state.currentUser
    }
  },
  components: {
  },
  created() {},
  computed: {},
  mounted() {},
  beforeDestroy() {},
  methods: {
    saveSubProject: function() {
      if (!this.subProject.name || this.subProject.name.trim().length === 0) {
        this.$notify.addErrorMessage("Digite um nome para a pasta.");
        return;
      }
      let parentId = this.parentProject.idProject;
      this.parentProject = {};
      this.parentProject.idProject = parentId;
      this.subProject.parentProject = this.parentProject;
      this.$http.post('/project', this.subProject)
        .then(r => {
          if (r.status === 200) {
            var pj = r.body;
            pj.tab = 'files';
            this.$store.commit('setProjectEdit', pj);
            this.$parent.subProjectCreate = false;
            this.$notify.addSuccessMessage("Pasta criada.");
            this.$parent.loadProjects(pj);
          }
        })
    },
    cancel() {
      this.$parent.subProjectCreate = false;
      this.subProject = initSubProject();
    }
  }
}
</script>

<style>
</style>
