<template>
<div class="admin-form">

  <form class="form-horizontal" role="form" @submit.prevent="saveCompany">

    <!-- Input Fields -->
    <div class="panel panel-border border-top">

      <div class="panel-body">

        <div id="widget1" class="section-divider mb30">
          <span><p class="customColor mn">Empresa</p></span>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Nome</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <input name="name" id="name" type="text" class="form-control input" v-model="company.name" disabled>
            </div>
          </div>
          <label class="col-lg-1 control-label">CNPJ</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <the-mask name="cnpj" id="cnpj" type="cnpj" class="form-control input" v-model="company.cnpj" :mask="'##.###.###/####-##'" disabled/>
            </div>
          </div>
        </div>

        <div id="widget1" class="section-divider mb30">
          <span><p class="customColor mn">Configuração de Layout</p></span>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Topo</label>
          <div class="col-lg-3 ">
            <div class="bs-component">
              <Multiselect id="headerColorId" name="headerColorId" v-model="selectedHeaderColor" :options="headerColors" :multiple="false" track-by="name" :searchable="false" label="description" :close-on-select="true" :clear-on-select="true" :allowEmpty="false" :hideSelected="false" selectLabel="Adicionar"
                deselectLabel="Remover" placeholder="Selecione" selectedLabel="Selecionado">
                <span slot="noResult">Registro não encontrado. Redefina a pesquisa!</span>
                <span slot="maxElements">Número máximo de registros selecionado.</span>
              </Multiselect>
            </div>
          </div>

          <label class="col-lg-2 control-label">Logo</label>
          <div class="col-lg-3 ">
            <div class="bs-component">
              <sui-button :class="{'ui floated white button' : true, 'red' : fileRemove}" @click.prevent="selectFile">{{fileLabel}}</sui-button>
              <div v-show="false"><input id="inputFileUpload" name="inputFileUpload" type="file" @change="changeFileLabel" accept="image/*"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Cor do botão principal</label>
          <div class="col-lg-3 ">
            <div class="bs-component">
              <Multiselect id="mainColorId" name="mainColorId" v-model="selectedMainColor" :options="mainColors" :multiple="false" track-by="name" :searchable="false" label="description" :close-on-select="true" :clear-on-select="true" :allowEmpty="false" :hideSelected="false" selectLabel="Adicionar"
                deselectLabel="Remover" placeholder="Selecione" selectedLabel="Selecionado">
                <span slot="noResult">Registro não encontrado. Redefina a pesquisa!</span>
                <span slot="maxElements">Número máximo de registros selecionado.</span>
              </Multiselect>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-right">
        <sui-button class="ui right customBtn button">Salvar</sui-button>
      </div>
    </div>
  </form>

</div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  name: 'companyDetail',
  components: {
    Multiselect
  },
  data() {
    return {
      headerColors: [],
      mainColors: [],
      selectedHeaderColor: null,
      selectedMainColor: null,
      fileLabel: 'Selecione',
      fileRemove: false
    }
  },
  watch: {

  },
  mounted() {

  },
  created() {
    this.loadHeaderColors();
    this.loadMainColors();
  },
  computed: {
    company: function() {
      this.selectedMainColor = this.$store.state.currentCompany.mainColor;
      this.selectedHeaderColor = this.$store.state.currentCompany.headerColor;
      return this.$store.state.currentCompany
    }
  },
  methods: {
    setBtnCss: function(company){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.customBtn '+company.mainColor.css;
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    loadHeaderColors: function() {
      this.$http.get('/enum/headerColor')
        .then(r => {
          if (r.status === 200) {
            this.headerColors = r.body;
          }
        })
    },
    loadMainColors: function() {
      this.$http.get('/enum/companyMainColor')
        .then(r => {
          if (r.status === 200) {
            this.mainColors = r.body;
          }
        })
    },
    saveCompany: function() {
      var headerColorAux = this.company.headerColor;
      this.company.headerColor = this.selectedHeaderColor.name;

      var mainColor = this.selectedMainColor.name;
      this.company.mainColor = mainColor;

      this.$http.post('/company', this.company)
        .then(r => {
          if (r.status === 200) {
            this.$store.commit('setCurrentCompany', r.body);
            this.fileSelected();
            this.setBtnCss(r.body);
          }
        }).catch(function(resp) {
          this.company.headerColor = headerColorAux;
          this.company.mainColor = headerColorAux;
          this.$store.commit('setCurrentCompany', this.company);
        })
    },
    selectFile: function() {
      var input = $('#inputFileUpload').get(0);
      if (input.files && input.files[0]) {
        this.$nextTick(function() {
          $('#inputFileUpload').val('');
          this.changeFileLabel();
        })
      } else {
        $('#inputFileUpload').click();
      }
    },
    changeFileLabel: function() {
      var input = $('#inputFileUpload').get(0);
      if (input && input.files && input.files[0]) {
        this.$nextTick(function() {
          this.fileRemove = true;
          this.fileLabel = 'Limpar';
        })
      } else {
        this.$nextTick(function() {
          this.fileRemove = false;
          this.fileLabel = 'Selecione';
        })
      }
    },
    fileSelected: function() {
      var input = $('#inputFileUpload').get(0);
      if (input.files && input.files[0]) {
        let data = new FormData();
        data.append('file', input.files[0])
        this.$http.post('/company/logo', data)
          .then(r => {
            if (r.status === 200) {
              this.$store.commit('setCurrentCompany', r.body);
              this.$nextTick(function() {
                $('#inputFileUpload').val('');
                this.changeFileLabel();
              })
            }
          })
      }
    }
  }
}
</script>

<style>
.white-popup {
  position: relative;
  background: #FFF;
  /* padding: 20px; */
  width: auto;
  /* margin: 20px auto; */
}
</style>
