<template>
<h1 class="fs30 mt5 mbn">
    <div class="row">
        <div class="col-md-4 text-right">
            <span class="fa fa-plus-circle c1 pointer" id="plus" @mousedown="increseCounter()" @mouseup="stopCounter()" @mouseleave="stopCounter" @dblclick="selectionHandler" @click="selectionHandler"/>
        </div>
        <div class="col-md-4">
            <span @click="changeInput" v-show="!showInput">{{formattValue}}</span>
            <input ref="counter" :id="id" :name="name" type="number" class="gui-input inputSelectCounter text-center" autocomplete="off" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-show="showInput" @blur="onBlur">
        </div>
        <div class="col-md-4 text-left">
            <span class="fa fa-minus-circle c1 pointer" @mousedown="decreseCounter()" @mouseup="stopCounter()" @mouseleave="stopCounter()" @dblclick="selectionHandler" @click="selectionHandler"/>
        </div>
    </div>
</h1>
</template>


<script>
export default {
  name: 'panelSelectCounter',
  props: ['value', 'required', 'id', 'name', 'allowNegative', 'leftPadLength'],
  data() {
    return {
      timeoutId: null,
      showInput: false
    }
  },
  computed: {
    formattValue() {
      if (this.leftPadLength) {
        return this.padLeft(this.value, this.leftPadLength, '0');
      }
      return this.value;
    }
  },
  methods: {
    onBlur: function() {
      this.showInput = false;
    },
    changeInput: function() {
      this.showInput = true;
    },
    updateValue: function(val) {
      this.$emit('input', val);
    },
    padLeft: function(nr, n, str) {
      if (String(nr).length > n) {
        return nr;
      }
      return Array(n - String(nr).length + 1).join(str || '0') + nr;
    },
    selectionHandler: function() {
      if (document.selection && document.selection.empty) {
        document.selection.empty();
      } else if (window.getSelection) {
        var sel = window.getSelection();
        sel.removeAllRanges();
      }
    },
    increseCounter: function() {
      this.showInput = false;
      this.timeoutId = setInterval(() => {
        var countValue = this.value + 1;
        this.$emit('input', countValue);
      }, 70);
    },
    decreseCounter: function() {
      this.showInput = false;
      this.timeoutId = setInterval(() => {
        var countValue = this.value - 1;
        if (countValue <= 0 && this.allowNegative) {
          this.$emit('input', countValue);
        } else if (countValue >= 0) {
          this.$emit('input', countValue);
        }
      }, 70);
    },
    stopCounter: function() {
      clearInterval(this.timeoutId);
    }
  }
}
</script>

<style>
.pointer {
  cursor: pointer;
}

.inputSelectCounter {
  height: 33px !important;
}
</style>
