<template>
<div class="section" v-if="selectList.length > 0">
  <label class="field select">
    <select v-bind:value="value" v-on:input="updateValue($event.target.value)" :required="required" :id="id" :name="name" :disabled="disabled">
      <option v-if="selectDefaultLabel != null" value="">{{selectDefaultLabel}}</option>
      <option v-for="item in selectList" :value="getPropertyValue(item, selectValue)">{{getPropertyValue(item, selectLabel)}}</option>
    </select>
    <i class="arrow double"/>
  </label>
</div>
</template>


<script>
export default {
  name: 'selectOption',
  props: ['value', 'list', 'optionLabel', 'optionValue', 'defaultLabel', 'defaultValue', 'required', 'id', 'name', 'disabled'],
  data() {
    return {
      selectList: [],
      selectLabel: this.optionLabel,
      selectValue: this.optionValue,
      selectDefaultLabel: this.defaultLabel,
      selecteDefaultValue: this.defaultValue
    }
  },
  watch: {
    list: function() {
      this.selectList = JSON.parse(JSON.stringify(this.list))
    }
  },
  methods: {
    getPropertyValue: function(item, prop) {
      if (prop != null) {
        return item[prop];
      }
      return "";
    },
    updateValue: function(val) {
      this.$emit('input', val);
    }
  }
}
</script>

<style>
</style>
