<template>
<div class="admin-form">

  <form class="form-horizontal" role="form" @submit="save">

    <!-- Input Fields -->
    <div class="panel panel-border border-top">

      <div class="panel-body">

        <div id="widget1" class="section-divider mb30">
          <span><p class="customColor mn">Usuário</p></span>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Nome</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <input name="name" id="name" type="text" :class="{'form-control input': true, 'field-error': errors.has('name') }" placeholder="Digite o Nome" v-model="user.name" autocomplete="name" v-validate="'required'" data-vv-as="Nome">
              <em v-show="errors.has('name')" class="messege-error">{{ errors.first('name') }}</em>
            </div>
          </div>
          <label class="col-lg-1 control-label">E-mail</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <input name="email" id="email" type="email" :class="{'form-control input': true, 'field-error': errors.has('email') }" placeholder="Digite o E-mail" v-model="user.email" autocomplete="email" v-validate="{'required': true,'email' : true }" data-vv-as="E-mail">
              <em v-show="errors.has('email')" class="messege-error">{{ errors.first('email') }}</em>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-1 control-label">Perfil</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <Multiselect id="perfil" name="perfil" :class="{'field-error': errors.has('perfil') }" v-model="user.perfil" :options="perfis" :multiple="false" track-by="idPerfil" :searchable="true" label="name" :close-on-select="true" :clear-on-select="true" :allowEmpty="true"
                :hideSelected="false" placeholder="Selecione um perfil" selectLabel="Adicionar" deselectLabel="Remover" selectedLabel="Selecionado" v-validate="'required'" data-vv-as="Perfil">
                <span slot="noResult">Registro não encontrado. Redefina a pesquisa!</span>
                <span slot="maxElements">Número máximo de registros selecionado.</span>
              </Multiselect>
              <em v-show="errors.has('perfil')" class="messege-error">{{ errors.first('perfil') }}</em>
            </div>
          </div>
          <div class="col-lg-6">
            <label class="block mt15 switch switch-danger">
                    <input type="checkbox" name="userDisabled" id="userDisabled" v-model="user.disabled" checked>
                    <label for="userDisabled" data-on="Sim" data-off="Não"></label>
            <span>Usuário inativo</span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-1 control-label">Grupos</label>
          <div class="col-lg-5">
            <div class="bs-component">
              <Multiselect v-model="user.accessGroup" :options="accessGroups" :multiple="false" track-by="idAccessGroup" :searchable="true" label="name" :close-on-select="true" :clear-on-select="true" :allowEmpty="true" :hideSelected="false" placeholder="Selecione um grupo"
                selectLabel="Adicionar" deselectLabel="Remover" selectedLabel="Selecionado">
                <span slot="noResult">Registro não encontrado. Redefina a pesquisa!</span>
                <span slot="maxElements">Número máximo de registros selecionado.</span>
              </Multiselect>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <sui-button class="ui left grey button" @click.prevent="voltar">Voltar</sui-button>
        <sui-button class="ui right floated customBtn button">Salvar</sui-button>
      </div>
    </div>
  </form>

</div>
</template>

<script>
import Multiselect from 'vue-multiselect';
export default {
  name: 'userDetail',
  components: {
    Multiselect
  },
  data() {
    return {
      inputIdEvent: null,
      perfis: [],
      accessGroups: [],
      modal: null,
      showPreview: null,
      user: {
        event: {}
      },
      tableAccessGroups: null
    }
  },
  watch: {

  },
  mounted() {
    this.$http.get('/perfil')
      .then(r => {
        if (r.status === 200) {
          this.perfis = r.body;
        }
      });
    this.$http.get('/accessGroup')
      .then(r => {
        if (r.status === 200) {
          this.accessGroups = r.body;
        }
      });
    this.prepareUser();
    this.renderTable();
  },
  created() {

  },
  computed: {

  },
  methods: {
    prepareUser: function() {
      this.user = this.$store.state.userEdit;
      if (this.user.name) {
        try {
          this.selectedAccessGroup = this.user.accessGroups;
        } catch (e) {}
      }
    },
    voltar: function() {
      this.$router.push('/home/users');
    },
    renderTable: function() {
      if (this.tableAccessGroups == null) {
        this.tableAccessGroups = $('#tableAccessGroups').DataTable({
          dom: '<"top dt-panelmenu"fl>rt<"bottom dt-panelfooter"ip>',
          language: {
            url: '/static/vendor/plugins/datatables/i18n/pt_BR.json'
          },
          order: [
            [0, "desc"]
          ]
        });
      } else {}
    },
    save: function(event) {
      event.preventDefault();
      this.$validator.validate().then(result => {
        if (result) {
          this.$http.post('/user', this.user)
            .then(r => {
              if (r.status === 200) {
                this.successSave();
                this.$nextTick(() => this.$validator.reset())
              }
            })
        }else{
          this.$notify.addErrorMessage('Verifique os erros antes de prosseguir.');
        }
      });
    },
    successSave() {
      var isNew = (this.user.idUser == null);
      var msg = 'Usuário alterado.'
      if (isNew) {
        msg = 'Usuário cadastrado.'
      }
      this.$notify.addSuccessMessage(msg);
      this.$router.push('/home/users');
    },
    resetUser: function() {
      this.user = {
        event: {}
      };
      this.inputIdEvent = null;
    }
  }
}
</script>

<style>
.white-popup {
  position: relative;
  background: #FFF;
  /* padding: 20px; */
  width: auto;
  /* margin: 20px auto; */
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 14px
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select,
.multiselect__option--disabled {
  background: #888;
}

.multiselect__option--disabled {
  color: #fafafa;
}

.multiselect__tag {
  background: #4a89dc;
}

.multiselect__option--highlight {
  background: #c0d6f3;
  color: black;
}

.multiselect__option--highlight:after {
  background: #4a89dc;
}

.help.is-danger {
  color: #FF3861
}

.input.is-danger,
.textarea.is-danger {
  border-color: #ff3860;
}

#custom-blockquote {
  padding: 0 10px;
}
</style>
