<template>
<form class="panel panel-border border-top" id="p5">
  <div class="panel-heading">
    <span class="panel-icon">

        </span>
    <span class="panel-title">
          <sui-button class="ui right customBtn button" @click="addUser"><i class="fa fa-user-plus"></i>&nbsp;Criar novo usuário</sui-button>
        </span>
  </div>
  <div class="panel panel-visible" id="spy2">
    <div class="panel-body pn">
      <table class="table table-striped table-hover" id="tableUsers" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th style="width:200px">Nome</th>
            <th>E-mail</th>
            <!-- <th>Último login em</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="u in users">
            <td><a @click="editUser(u)">{{u.idUser}}</a></td>
            <td><a @click="editUser(u)">{{u.name}}</a></td>
            <td><a @click="editUser(u)">{{u.email}}</a></td>
            <td v-if="u.disabled"><span class="label label-danger">Inativo</span></td>
            <td v-if="!u.disabled"><span class="label label-info">Ativo</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
</template>

<script>
export default {
  name: 'users',
  data() {
    return {
      user: null,
      users: [],
      tableUsers: null
    }
  },
  components: {},
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers: function() {
      this.$http.get('/user')
        .then(response => {
          this.users = response.body;
          this.user = null;
          if (this.tableUsers) {
            this.tableUsers.destroy();
            this.tableUsers = null;
          }
        })
        .then(() => {
          this.renderTable();
        });
    },
    renderTable: function() {
      if (this.tableUsers == null) {
        this.tableUsers = $('#tableUsers').DataTable({
          dom: '<"top dt-panelmenu"fl>rt<"bottom dt-panelfooter"ip>',
          order: [
            [0, "desc"]
          ]
        });
      }
    },
    addUser: function() {
      this.$store.commit('setUserEdit', {});
      this.$router.push('/home/userDetail');
    },
    editUser: function(u) {
      this.$http.get('/user/' + u.idUser)
        .then(response => {
          this.$store.commit('setUserEdit', response.body);
          this.$router.push('/home/userDetail');
        });
    }
  }


}
</script>

<style>
</style>
