<template>
<div id="changePwdModal" class="popup-basic admin-form mfp-with-anim mfp-hide white-popup-change-pwd">
  <div class="panel panel-danger panel-border border-top">
    <div class="panel-heading">
      <span class="panel-icon"></span>
      <span class="panel-title">Alterar senha</span>
    </div>

    <div class="panel-visible">
      <form method="post" id="changePwdForm" name="changePwdForm" autocomplete="off">
        <div class="panel-body p25">
          <div class="row">
            <div class="col-md-12">
              <div class="section">
                <div class="smart-widget sm-left sml-160">
                  <label class="field">
                      <input name="pwdOld" id="pwdOld" onfocus="this.removeAttribute('readonly');" type="password" class="gui-input" placeholder="Digite a senha atual" v-model="pwdOld" autocomplete="off">
                  </label>
                  <label for="pwdOld" class="button btn-danger">Senha Atual</label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="section">
                <div class="smart-widget sm-left sml-160">
                  <label class="field">
                      <input name="pwdNew" id="pwdNew" onfocus="this.removeAttribute('readonly');" type="password" class="gui-input" placeholder="Digite a nova senha" v-model="pwdNew" autocomplete="off">
                  </label>
                  <label for="pwdOld" class="button btn-danger">Nova senha</label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="section">
                <div class="smart-widget sm-left sml-160">
                  <label class="field">
                      <input name="pwdConfirm" id="pwdConfirm" onfocus="this.removeAttribute('readonly');" type="password" class="gui-input" placeholder="Confirme a nova senha" v-model="pwdConfirm" autocomplete="off">
                  </label>
                  <label for="pwdOld" class="button btn-danger">Confirmar senha</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-footer text-right">
      <button type="submit" class="button btn-danger ladda-button" @click="changePwd" data-style="expand-right">
          <span class="ladda-label"> Alterar </span>
          <span class="ladda-spinner"></span>
      </button>
    </div>
  </div>
</div>
</template>

<script>
import SelectOption from '../inputs/SelectOption.vue';

export default {
  name: 'userDetail',
  data() {
    return {
      pwdOld: null,
      pwdNew: null,
      pwdConfirm: null,
    }
  },
  computed: {
    user: function() {
      return this.$store.state.currentUser
    }
  },
  methods: {
    showChangePwdModal: function() {
      this.modal = $.magnificPopup;
      this.modal.open({
        items: {
          src: '#changePwdModal', // can be a HTML string, jQuery object, or CSS selector
          type: 'inline'
        },
        callbacks: {
          open: function() {},
          beforeClose: function() {}
        }
      });
    },
    changePwd: function() {
      event.preventDefault();
      if ($("#changePwdForm").valid()) {
        this.$http.post('/login/password', {'pwdOld':this.pwdOld, 'pwdNew': this.pwdNew})
          .then(r => {
            if (r.status === 200) {
              this.$notify.addSuccessMessage('Senha alterada com sucesso.');
              this.modal.close();
            }
          })
      }
    }
  },
  mounted: function() {

    this.entityFormValidator = $('#changePwdForm').validate({

      /* @validation states + elements
      ------------------------------------------- */

      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",

      /* @validation rules
      ------------------------------------------ */

      rules: {
        pwdOld: {
          required: true
        },
        pwdNew: {
          required: true
        },
        pwdConfirm: {
          required: true,
          equalTo: '#pwdNew'
        }
      },

      /* @validation error messages
      ---------------------------------------------- */
      messages: {
        pwdOld: {
          required: 'Nome do usuário é obrigatório'
        },
        pwdNew: {
          required: 'E-mail é obrigatório'
        },
        pwdConfirm: {
          required: 'Senha é obrigatória'
        }
      },

      /* @validation highlighting + error placement
      ---------------------------------------------------- */

      highlight: function(element, errorClass, validClass) {
        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio") || element.is(":checkbox")) {
          element.closest('.option-group').after(error);
        } else {
          error.insertAfter(element.parent());
        }
      }
    });


    window.hub.$on('showchangePwdDetails', this.showChangePwdModal);
  }

}
</script>

<style>
.white-popup-change-pwd {
  position: relative;
  background: #FFF;
  /* padding: 20px; */
  width: auto;

  /* margin: 20px auto; */
}
</style>
