<template>
<!-- Header -->
<header :class="{'navbar navbar-lg navbar-fixed-top': true, 'bg-header-white': isWhite(), 'bg-header-black': isBlack()}">
  <!-- Navbar Branding -->


  <div class="left menu">
    <div class="pull-left menu-width center-el">
      <i class="align justify icon menu-icon-header-menu" @mouseover="menuIconMouseOver"></i>
    </div>

    <div class="pull-left logo-width left-el">
      <img :src="logoPath()" class="logo-def" alt="logo" />
    </div>
  </div>

  </div>



</header>
<!-- End: Header -->
</template>


<script>
import SideMenuProfile from './SideMenuProfile.vue';

export default {
  name: 'headerMenu',
  components: {
    sideMenuProfile: SideMenuProfile
  },
  computed: {
    showLogout: function() {

      // if (this.$store.state.currentUser != null && this.$store.state.currentUser.perfil != null && this.$store.state.currentUser.perfil.name == 'ADMIN') {
      //   return false;
      // }
      return true;
    },
    user: function() {
      return this.$store.state.currentUser
    },
    company: function() {
      return this.$store.state.currentCompany
    }
  },
  methods: {
    menuIconMouseOver: function(){
      this.$store.commit('setShowMenu', true);
    },
    logout: function() {
      this.$auth.removeToken();
      this.$store.commit('clearCurrentUser');
      this.$notify.addSuccessMessage('Logout efetuado com sucesso!');
      this.$router.push(process.env.LOGIN_PATH);
    },
    isWhite: function() {
      if (this.company && this.company.headerColor) {
        return this.company.headerColor.name == 'WHITE';
      }
      return false;
    },
    isBlack: function() {
      if (this.company && this.company.headerColor) {
        return this.company.headerColor.name == 'BLACK';
      }
      return false;
    },
    logoPath: function() {
      if (this.company && this.company.urlLogo) {
        return this.company.urlLogo;
      }
      return '';
    }
  }
}
</script>

<style>
.navbar.navbar-lg {
  height: 100px;
}

#content {
  margin-top: 25px;
}

.menu-width {
  width: 50px;
}

.logo-width {
  width: 200px;
}

.menu-icon-header-menu {
  font-size: 2em !important;
  margin-top: 10px !important;
}

.center-el {
  vertical-align: middle;
  text-align: center;
}

.left-el {
    vertical-align: middle;
}

.ui.menu .item:before {
  background: white;
}

</style>
