<template>
<div id="main">

  <headerMenu></headerMenu>

  <sideMenu :menu-list="menuList"></sideMenu>


  <!-- Start: Content-Wrapper -->
  <section id="content_wrapper" v-show="!isHome()">

    <!-- Start: Topbar -->
    <!-- <breadCrumb></breadCrumb> -->
    <!-- End: Topbar -->

    <!-- Begin: Content -->
    <section id="content">
      <router-view></router-view>
    </section>
    <!-- End: Content -->

  </section>
</div>
</template>


<script>
import SideMenu from './SideMenu.vue';
import HeaderMenu from './HeaderMenu.vue';

export default {
  name: 'home',
  data() {
    return {
      menuList: []
    }
  },

  components: {
    sideMenu: SideMenu,
    headerMenu: HeaderMenu
  },
  created: function() {
    if (this.$auth.isValid()) {
      this.$http.get('/user/me')
        .then(function(resp) {
          this.$store.commit('setCurrentUser', resp.body);
          if (resp.body.perfil.name == 'ADMIN') {
          } else {
            this.$router.push('/home/projects');
          }
          this.getMenu();
        })
        .catch(function(resp) {
          this.$store.commit('clearCurrentUser');
        })
      this.$http.get('/company/me')
        .then(function(resp) {
          this.$store.commit('setCurrentCompany', resp.body);
          this.setCustomLayout(resp.body);
        })
        .catch(function(resp) {
          this.$store.commit('clearCurrentCompany');
        })
    } else {
      this.$store.commit('clearCurrentUser');
      this.$store.commit('clearCurrentCompany');
    }
  },
  mounted: function() {
    $('body').removeClass();
    $('body').addClass("boxed-layout sb-l-o sb-r-c");
    Core.init();
  },
  methods: {
    setCustomLayout: function(companyConfig){
      this.setBtnCss(companyConfig);
      this.setCustomChkBox(companyConfig);
      this.setCustomChkBox2(companyConfig);
      this.setBorderTopColor(companyConfig);
      this.setCustomColor(companyConfig);
      this.setPaginationColor(companyConfig);
      this.setTabBorderTopColor(companyConfig);
    },
    setBtnCss: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.customBtn '+companyConfig.mainColor.css;
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setCustomChkBox2: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      var cssName = '.admin-form input:checked + .checkbox, .admin-form .option-danger input:focus + .checkbox, .admin-form .option-danger input:checked + .radio, .admin-form .option-danger input:focus + .radio';
      style.innerHTML = cssName+' {border-color:'+companyConfig.mainColor.color+' !important;}';
      document.getElementsByTagName('head')[0].appendChild(style);

      var style = document.createElement('style');
      style.type = 'text/css';
      var cssName = '.admin-form input:checked + .checkbox:before, .admin-form .option-danger input:focus + .checkbox:before';
      style.innerHTML = cssName+' {border-color:'+companyConfig.mainColor.color+' !important;}';
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setCustomChkBox: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.admin-form .switch > input:checked + label {border-color:'+companyConfig.mainColor.color+' !important; background:'+companyConfig.mainColor.color+' !important}';
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setBorderTopColor: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.admin-form .panel.border-top {border-top-color:'+companyConfig.mainColor.color+' !important; border-top-width: 3px;}';
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setTabBorderTopColor: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.tab-block .tabs-border.nav-justified > li.active > a {border-top-color:'+companyConfig.mainColor.color+' !important; border-top-width: 3px;}';
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setCustomColor: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.customColor {color:'+companyConfig.mainColor.color+' !important;}';
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setPaginationColor: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      var cssName = '.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus';
      style.innerHTML = cssName+' {border-color:'+companyConfig.mainColor.color+' !important; background-color:'+companyConfig.mainColor.color+' !important}';
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    isHome: function() {
      return window.location.href.indexOf("/home/") == -1;
    },
    getMenu: function() {
      this.$http.get('/static/menu/menu_' + this.$store.state.currentUser.perfil.name + '.json').then(response => {
        window.hub.$emit('showMenu', response.body);
      })
    },
  }
}
</script>

<style>
.sb-l-o #content_wrapper {
  margin-left: 0px;
  margin-top: 100px;
}

.body.boxed-layout #content_wrapper {
  margin-top: 100px;
}
</style>
