<template>
<div id="profileImageUploadModal" class="popup-basic admin-form mfp-with-anim mfp-hide white-popup-profile-image">
  <form method="POST" id="userProfileImageUploadForm" @submit="uploadFile">
    <div class="panel panel-danger panel-border border-top" id="spy1">
      <div class="panel-heading">
        <span class="panel-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
        <span class="panel-title">Foto do perfil</span>
      </div>
      <div class="panel-body">
        <div class="fileupload fileupload-new" @click="selectFile">
          <div class="fileupload-preview thumbnail mb20">
            <img id="previewProfileImage" name="previewProfileImage" src="static/assets/img/avatars/placeholder.png" width="50">
          </div>
          <div class="col-md-12 text-center text-danger">
            <span>Recomendado 200x200</span>
          </div>
          <div v-show="false"><input id="inputProfileImageUpload" name="inputProfileImageUpload" type="file" @change="fileSelected" accept="image/*"></div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-12 text-right">
          <sui-button :disabled="!canUpload" class="ui right customBtn button">Salvar</sui-button>
        </div>
      </div>
    </div>
  </form>
</div>
</template>

<script>
export default {
  name: 'profileImageUpload',
  data() {
    return {
      showPreview: false,
      canUpload: false
    }
  },
  methods: {
    selectFile: function() {
      $('#inputProfileImageUpload').click();
    },
    fileSelected: function(fileName) {
      var input = document.getElementById('inputProfileImageUpload');
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#previewProfileImage').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        this.showPreview = true;
        this.canUpload = true;
      } else {
        this.showPreview = false;
      }
    },
    uploadFile: function(event) {
      event.preventDefault();
      if ($("#userProfileImageUploadForm").valid()) {
        var input = document.getElementById('inputProfileImageUpload');
        if (input.files && input.files[0]) {
          let data = new FormData();
          data.append('file', input.files[0])
          this.$http.post('/user/upload/', data).then(r => {
              if (r.status === 200) {
                this.$store.commit('setCurrentUser', r.body);
                this.$notify.addSuccessMessage("Foto atualizado com sucesso");
                this.modal.close();
              }
            })
            .catch(function(resp) {
              console.log(resp);
              this.$notify.addErrorMessage('Falha no upload. Tente novamente.');
            })
        }
      }
    },
    setUserProfileImage: function() {
      var img = 'static/assets/img/avatars/placeholder.png';
      if (this.user && this.user.profileImage) {
        img = 'data:' + this.user.profileImageContentType + ';base64, ' + this.user.profileImage;
        // $('#previewProfileImage').attr('src', img);
        this.showPreview = true;
      }
      $('#previewProfileImage').attr('src', img);
      this.canUpload = false;
      // return img;
    },
    showUploadImageProfileModal: function() {
      this.modal = $.magnificPopup;
      this.modal.open({
        items: {
          src: '#profileImageUploadModal', // can be a HTML string, jQuery object, or CSS selector
          type: 'inline'
        },
        callbacks: {
          open: this.setUserProfileImage,
          beforeClose: function() {}
        }
      });
    }
  },
  computed: {
    user: function() {
      return this.$store.state.currentUser
    }
  },
  created: function() {
    this.$nextTick(function() {
      window.hub.$on('showUserProfileImageUpdate', this.showUploadImageProfileModal);
    }.bind(this));
  },
  mounted() {
    $("#userProfileImageUploadForm").validate({

      /* @validation states + elements
      ------------------------------------------- */
      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",

      /* @validation rules
      ------------------------------------------ */
      rules: {
        inputProfileImageUpload: {
          required: true,
          extension: "jpg|png|gif"
        }
      },

      /* @validation error messages
      ---------------------------------------------- */
      messages: {
        inputProfileImageUpload: {
          required: 'Foto do perfil é obrigatorio',
          extension: "Somente a extensão JPG é aceito"
        }
      },

      /* @validation highlighting + error placement
      ---------------------------------------------------- */
      highlight: function(element, errorClass, validClass) {
        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio") || element.is(":checkbox")) {
          element.closest('.option-group').after(error);
        } else {
          error.insertAfter(element.parent());
        }
      }

    });
  }

}
</script>

<style>
.white-popup-profile-image {
  position: relative;
  background: #FFF;
  /* padding: 20px; */
  width: auto;
  max-width: 20%;
  /* margin: 20px auto; */
}
</style>
