<template>
<div class="row mt10">

  <div class="col-md-12">

    <div class="panel panel-border border-top panel-danger mt5">
      <div class="panel-body">
        <div class="media clearfix">
          <div class="media-left p5">
            <a @click="showUserProfileImageUpdateModal">
                <img class="media-object mw100 mr15 bw2 br-light" :src="userProfileImage" alt="...">
            </a>
          </div>
          <div class="media-body va-m">
            <h3 class="media-heading mt10 mb5">{{user.name}}</h3>
            <p class="text-muted fs16">{{user.email}}</p>
            <p class="text-muted fs12"><a @click="alterarSenha()">Alterar senha</a></p>
          </div>
        </div>
        <hr class="shorter alt mt10">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-2 control-label">Nome:</label>
            <div class="col-lg-9">
              <div class="bs-component">
                <p class="form-control-static text-muted">{{user.name}}</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">E-mail:</label>
            <div class="col-lg-9">
              <div class="bs-component">
                <p class="form-control-static text-muted">{{user.email}}</p>
              </div>
            </div>
          </div>
          <div class="form-group" v-if="user.permissions">
            <label class="col-lg-2 control-label">Tipo acesso:</label>
            <div class="col-lg-9">
              <div class="bs-component">
                <p class="form-control-static text-muted">{{user.permissions[0].name}}</p>
              </div>
            </div>
          </div>
          <div class="form-group" v-if="user.event">
            <label class="col-lg-2 control-label">Evento:</label>
            <div class="col-lg-9">
              <div class="bs-component">
                <p class="form-control-static text-muted">{{user.event.name}}</p>
              </div>
            </div>
          </div>
          <ChangePwd />
          <ProfileImageUpload />
        </form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import ChangePwd from './ChangePwd.vue';
import ProfileImageUpload from './ProfileImageUpload.vue';

export default {
  name: 'profile',
  data() {
    return {

    }
  },
  components: {
    ChangePwd, ProfileImageUpload
  },
  methods: {
    alterarSenha: function() {
      window.hub.$emit('showchangePwdDetails');
    },
    showUserProfileImageUpdateModal: function() {
      window.hub.$emit('showUserProfileImageUpdate');
    }
  },
  computed: {
    user: function() {
      return this.$store.state.currentUser
    },
    userProfileImage: function() {
      if(this.user.profileImage){
        return this.user.profileImage;
      }
      return 'static/assets/img/avatars/placeholder.png';
    }
  }
}
</script>

<style>
</style>
