<template>
<!-- Start: Sidebar -->
<transition name="fade">
  <aside id="sidebar_left" :class="{'sidebar': true, 'sidebar-dark darker': isBlack(), 'sidebar-light': isWhite()}" v-if="showMenu" @mouseover="menuMouseOver" @mouseout="menuMouseOut">

    <!-- Start: Sidebar Left Content -->
    <div class="sidebar-content">

      <sideMenuProfile></sideMenuProfile>
      <!-- End: Sidebar Header -->

      <!-- Start: Sidebar Left Menu -->
      <ul class="nav sidebar-menu sidebar-menu-border">
        <li v-for="menu in menuList" :class="{'active': isActiveItem(menu.label)}">
          <a v-if="menu.href" v-on:click="setActiveItem(menu.label);goTo(menu.href)">
              <span>
                <span :class="menu.icon"></span>
              </span>
              <span class="sidebar-title">{{menu.label}}</span>
          </a>

          <a v-if="menu.subMenu" v-on:click="setActiveItem(menu.label);" :class="{'accordion-toggle menu-open active': isActiveItem(menu.label)}">
              <span>
                  <span :class="menu.icon"></span>
                  <span class="sidebar-title">{{menu.label}}</span>
              </span>
          </a>

          <ul class="nav sub-nav" v-if="menu.subMenu" v-for="subMenu in menu.subMenu">
            <li :class="{'active': isActiveSubItem(subMenu.label)}">
              <a v-on:click="setActiveSubItem(subMenu.label);goTo(subMenu.href)">
                                      <span :class="subMenu.icon"></span>{{subMenu.label}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- End: Sidebar Menu -->

    </div>
    <!-- End: Sidebar Left Content -->

  </aside>
</transition>
<!-- End: Sidebar Left -->
</template>


<script>
import SideMenuProfile from './SideMenuProfile.vue';

export default {
  name: 'sideMenu',
  data() {
    return {
      activeItem: 'paginaInicial',
      activeSubItem: '',
      menuList: {}
    }
  },
  computed: {
    showMenu: function() {
      return this.$store.state.showMenu;
    },
    company: function() {
      return this.$store.state.currentCompany
    }
  },
  components: {
    sideMenuProfile: SideMenuProfile
  },
  mounted() {
    this.$nextTick(function() {
      window.hub.$on('showMenu', (menu) => {
        if (menu) {
          this.menuList = menu;
        }
      });
    }.bind(this));
  },
  methods: {
    isWhite: function() {
      if (this.company && this.company.headerColor) {
        return this.company.headerColor.name == 'WHITE';
      }
      return false;
    },
    isBlack: function() {
      if (this.company && this.company.headerColor) {
        return this.company.headerColor.name == 'BLACK';
      }
      return false;
    },
    menuMouseOver: function() {
      this.$store.commit('setShowMenu', true);
    },
    menuMouseOut: function() {
      this.$store.commit('setShowMenu', false);
    },
    isActiveItem: function(menuItem) {
      return this.activeItem === menuItem
    },
    setActiveItem: function(menuItem) {
      this.activeItem = menuItem
    },
    isActiveSubItem: function(menuItem) {
      return this.activeSubItem === menuItem
    },
    setActiveSubItem: function(menuItem) {
      this.activeSubItem = menuItem
    },
    goTo: function(path) {
      this.$router.push(path);
    }
  }
}
</script>

<style>
.sidebar {
  top: 0px;
  z-index: 9999;
  float: left !important;
}

.sb-l-o #sidebar_left {
  margin-top: 0px !important;
  float: left;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to{
  opacity: 0;
}

.navbar.navbar-lg.navbar-fixed-top + #sidebar_left + #content_wrapper{
    margin-top : 11px !important;
}

.sb-l-o #content_wrapper{
  margin-top : 100px !important;
}

.darker{
  background-color: black;
  border-right-color: black;
}

</style>
