<template>
<!-- Start: Sidebar Header -->
<header class="sidebar-header">

  <!-- Sidebar Widget - Author (hidden)  -->
  <div class="sidebar-widget author-widget author-widget-square">
    <div class="media">
      <router-link class="media-left" to="/home/profile">

        <img :src="userProfileImage" width="36" >

      </router-link>

      <div class="media-body">
        <div class="media-links">
          <a @click="logout()">Logout</a>
        </div>
        <router-link to="/home/profile">
          <div class="media-author">{{user.name}}</div>
        </router-link>
      </div>
    </div>
  </div>

</header>
<!-- End: Sidebar Header -->
</template>


<script>
export default {
  name: 'sideMenuProfile',
  data() {
    return {}
  },
  computed: {
    user: function() {
      return this.$store.state.currentUser
    },
    userProfileImage: function() {
      if(this.user.profileImage){
        return this.user.profileImage;
      }
      return 'static/assets/img/avatars/placeholder.png';
    }
  },
  methods: {
    logout: function() {
      this.$auth.removeToken();
      this.$store.commit('clearCurrentUser');
      this.$notify.addSuccessMessage('Logout efetuado com sucesso!');
      this.$router.push(process.env.LOGIN_PATH);
    }
  }
}
</script>

<style>
</style>
