<template>

    <section id="content">

      <div class="admin-form theme-danger" id="login1">



        <form class="panel panel-border" method="post" @submit="changePwd" id="inviteForm" name="inviteForm" autocomplete="off">

          <div :class="{'login-logo': true, 'bg-header-white': isWhite, 'bg-header-black': isBlack}">
              <img :src="logoPath" class="logo-def center"/>
          </div>

          <!-- end .form-header section -->

          <div class="panel-body bg-light">
            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-info pastel alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Você foi convidado para participar de um projeto. Defina sua senha.</a>
                </div>

                <div class="section">
                  <label for="password" class="field-label text-muted fs18 mb10">Senha</label>
                  <label for="password" class="field prepend-icon">
                    <input type="password" name="password" id="password" v-model="newPwd" class="gui-input" placeholder="Digite uma nova senha de acesso" required autocomplete="off">
                    <label for="password" class="field-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                  </label>
                </div>

                <div class="section">
                  <label for="password2" class="field-label text-muted fs18 mb10">Confirmação da Senha</label>
                  <label for="password2" class="field prepend-icon">
                    <input type="password" name="password2" id="password2" v-model="confirmPwd" class="gui-input" placeholder="Confirmar nova senha de acesso" required autocomplete="off">
                    <label for="password2" class="field-icon">
                        <i class="fa fa-lock"></i>
                    </label>
                  </label>
                </div>

              </div>
            </div>
          </div>

          <!-- end .form-body section -->
          <div class="panel-footer clearfix p10 ph15">
            <button type="submit" class="button customBtn mr10 pull-right" @click="changePwd">Enviar</button>
            </label>
          </div>
          <!-- end .form-footer section -->

        </form>
      </div>

    </section>

</template>


<script>
export default {
  name: 'invite',
  created: function() {
    $('body').removeClass();
    $('body').addClass("external-page sb-l-c sb-r-c");
    $('#loginForm').validate();

  },
  methods: {
    changePwd: function(event) {
      event.preventDefault();
      if ($("#inviteForm").valid()) {
        this.$http.post('/login/newUserByToken/' + this.$route.query.token, this.newPwd)
          .then(function(resp) {
            this.$notify.addSuccessMessage('Senha definida com sucesso! Você já pode acessar o projeto!');
            this.login();
          }).catch(function(resp) {
            console.log(resp);
          })
      }
    },
    login: function() {
      this.$router.push(process.env.LOGIN_PATH);
    },
    getSubdomain: function() {
      var full = window.location.host;
      var parts = full.split('.');
      var sub = parts[0];
      return sub;
    },
  },
  computed: {
    logoPath: function() {
      if (this.companyConfig && this.companyConfig.urlLogo) {
        return this.companyConfig.urlLogo;
      }
      return '';
    },
    isWhite: function() {
      if (this.companyConfig && this.companyConfig.headerColor) {
        return this.companyConfig.headerColor.name == 'WHITE';
      }
      return false;
    },
    isBlack: function() {
      if (this.companyConfig && this.companyConfig.headerColor) {
        return this.companyConfig.headerColor.name == 'BLACK';
      }
      return false;
    },
    companyConfig: function() {
      return this.$store.state.currentCompanyConfig;
    }
  },
  mounted: function() {
    // Init CanvasBG and pass target starting location

    $("#inviteForm").validate({

      /* @validation states + elements
      ------------------------------------------- */

      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",

      /* @validation rules
      ------------------------------------------ */

      rules: {
        password: {
          required: true
        },
        password2: {
          required: true,
          equalTo: '#password'
        }
      },

      /* @validation error messages
      ---------------------------------------------- */

      messages: {
        password: {
          required: 'Senha é obrigatório'
        },
        password2: {
          required: 'Confirmar senha é obrigatório'
        }
      },

      /* @validation highlighting + error placement
      ---------------------------------------------------- */

      highlight: function(element, errorClass, validClass) {
        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio") || element.is(":checkbox")) {
          element.closest('.option-group').after(error);
        } else {
          error.insertAfter(element.parent());
        }
      }

    });

    Core.init();
    CanvasBG.init({
      Loc: {
        x: window.innerWidth / 2,
        y: window.innerHeight / 3.3
      },
    });

  }
}
</script>

<style>
body.external-page #content .admin-form {
  max-width: 400px;
}
</style>
