<template>
<div id="app">
  <vue-snotify></vue-snotify>
  <router-view></router-view>
</div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
@import "~vue-snotify/styles/material.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
a:hover {
  cursor: pointer;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 14px;
  border-radius: 3px;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select,
.multiselect__option--disabled {
  background: #888;
}

.multiselect__option--disabled {
  color: #fafafa;
}

.multiselect__tag {
  background: #4a89dc;
}

.multiselect__option--highlight {
  background: #c0d6f3;
  color: black;
}

.multiselect__option--highlight:after {
  background: #4a89dc;
}

.bg-header-black {
  background-color: black;
  border-top: 0px !important;
}

.bg-header-white {
  background-color: white
}

.logo-def {
  overflow: hidden;
  max-width: 200px !important;
  max-height: 100px !important;
}

.login-logo {
  vertical-align: middle;
  padding-top: 0px !important;
  text-align: center;
}

.messege-error {
  color: #DE888A;
}

.field-error {
  border-color: #DE888A;
  border: 1px solid #e64a31;
}
</style>
