<template>
<div id="main" class="animated fadeIn">

  <!-- Start: Content-Wrapper -->
  <section id="content_wrapper">

    <!-- begin canvas animation bg -->
    <div id="canvas-wrapper">
      <canvas id="demo-canvas"></canvas>
    </div>

    <router-view></router-view>

  </section>
  <!-- End: Content-Wrapper -->
</div>
</template>


<script>
export default {
  name: 'auth',
  created: function() {
    $('body').removeClass();
    $('body').addClass("external-page sb-l-c sb-r-c");
    $('#loginForm').validate();
    this.retrieveCompanyConfig();
  },
  methods: {
    retrieveCompanyConfig: function() {
      var subdomain = '';
      this.$http.get('/company/config/' + this.getSubdomain())
        .then(function(resp) {
          this.setCustomLayout(resp.body);
          this.$store.commit('setCurrentCompanyConfig', resp.body);
          localStorage.setItem('loginConfig', resp.bodyText);
        })
    },
    getSubdomain: function() {
      var full = window.location.host;
      var parts = full.split('.');
      var sub = parts[0];
      return sub;
    },
    setCustomLayout: function(companyConfig){
      this.setBtnCss(companyConfig);
      this.setCustomChkBox(companyConfig);
    },
    setBtnCss: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.customBtn '+companyConfig.mainColor.css;
      document.getElementsByTagName('head')[0].appendChild(style);
    },
    setCustomChkBox: function(companyConfig){
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '.admin-form .switch > input:checked + label {border-color:'+companyConfig.mainColor.color+' !important; background:'+companyConfig.mainColor.color+' !important}';
      document.getElementsByTagName('head')[0].appendChild(style);
    }
  },
  mounted: function() {
    // Init CanvasBG and pass target starting location

    Core.init();
    CanvasBG.init({
      Loc: {
        x: window.innerWidth / 2,
        y: window.innerHeight / 3.3
      },
    });

  }
}
</script>

<style>

</style>
