<template>
<!-- Begin: Content -->
<section id="content">

  <div class="admin-form " id="login1">

    <form class="panel panel-border" method="post" @submit="login" id="loginForm" name="loginForm" autocomplete="off">

      <div :class="{'login-logo': true, 'bg-header-white': isWhite, 'bg-header-black': isBlack}">
          <img :src="logoPath" class="logo-def center"/>
      </div>


      <!-- end .form-header section -->

      <div class="panel-body bg-light">
        <div class="row">
          <div class="col-sm-12">

            <div class="section">
              <label for="username" class="field-label text-muted fs18 mb10">E-mail</label>
              <label for="username" class="field prepend-icon">
                                                <input type="email" name="username" id="username" v-model="user.login" class="gui-input" placeholder="E-mail" required autocomplete="off">
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
              </label>
            </div>
            <!-- end section -->

            <div class="section">
              <label for="username" class="field-label text-muted fs18 mb10">Senha</label>
              <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" v-model="user.password" class="gui-input" placeholder="Password" required autocomplete="off">
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
              </label>
            </div>
            <!-- end section -->

          </div>
        </div>
      </div>

      <!-- end .form-body section -->
      <div class="panel-footer clearfix p10 ph15">
        <sui-button class="ui right customBtn button pull-right">Login</sui-button>
        <label class="switch ib pull-left input-align mt10">
                                    <input type="checkbox" name="remember" id="remember" v-model="user.rememberMe" checked >
                                    <label  for="remember" data-on="Sim" data-off="Não"></label>
        <span>Manter conectado</span>
        </label>
      </div>
      <!-- end .form-footer section -->

    </form>

    <div class="row mb15 table-layout">
      <div class="col-xs-12 text-right va-b pr5">
        <div class="login-links fs15">
          <router-link to="/auth/recover">Esqueci minha senha</router-link>
        </div>
      </div>
    </div>

  </div>

</section>
</template>


<script>
import Vue from 'vue'

export default {
  name: 'login',
  data: function() {
    return {
      user: {
        login: "",
        password: "",
        rememberMe: true,
        subDomain: null
      },
    }
  },
  methods: {
    login: function(event) {
      event.preventDefault();
      if ($("#loginForm").valid()) {
        // this.$loadingScreen.show();
        this.user.subDomain = this.getSubdomain();
        this.$http.post('/login', this.user)
          .then(function(resp) {
            var jsonObject = JSON.parse(resp.bodyText);
            var token = this.getTokenFromAuthorization(jsonObject.token);
            var expiration = jsonObject.expiration;
            this.$auth.setToken(token);
            this.$auth.setExpiration(expiration);
            // this.$loadingScreen.hide();
            window.hub = new Vue;
            this.$store.commit('setShowMenu', false);
            this.$router.push('/home/projects');
          })
          .catch(function(resp) {
            var index = resp.bodyText.indexOf('Você não possui acesso a empresa');

            // this.$loadingScreen.hide();
            if(index !== -1){
              this.$notify.addErrorMessage('O acesso a empresa não está liberado.');
            }else{
              this.$notify.addErrorMessage('E-mail ou senha inválidos.');
            }
          })
      }
    },
    getSubdomain: function() {
      var full = window.location.host;
      var parts = full.split('.');
      var sub = parts[0];
      return sub;
    },
    getTokenFromAuthorization: function(authorization) {
      return authorization.split('Bearer ')[1];
    }

  },
  created: function() {
    $('body').removeClass();
    $('body').addClass("external-page sb-l-c sb-r-c");
    $('#loginForm').validate();
    // Init CanvasBG and pass target starting location

    Core.init();
  },
  computed: {
    logoPath: function() {
      if (this.companyConfig && this.companyConfig.urlLogo) {
        return this.companyConfig.urlLogo;
      }
      return '';
    },
    isWhite: function() {
      if (this.companyConfig && this.companyConfig.headerColor) {
        return this.companyConfig.headerColor.name == 'WHITE';
      }
      return false;
    },
    isBlack: function() {
      if (this.companyConfig && this.companyConfig.headerColor) {
        return this.companyConfig.headerColor.name == 'BLACK';
      }
      return false;
    },
    companyConfig: function() {
      return this.$store.state.currentCompanyConfig;
    }
  },
  mounted: function() {
    $("#loginForm").validate({

      /* @validation states + elements
      ------------------------------------------- */

      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",

      /* @validation rules
      ------------------------------------------ */

      rules: {
        username: {
          required: true
        },
        password: {
          required: true
        }
      },

      /* @validation error messages
      ---------------------------------------------- */

      messages: {
        username: {
          required: 'Usuário é obrigatório'
        },
        password: {
          required: 'Senha é obrigatório'
        }
      },

      /* @validation highlighting + error placement
      ---------------------------------------------------- */

      highlight: function(element, errorClass, validClass) {
        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio") || element.is(":checkbox")) {
          element.closest('.option-group').after(error);
        } else {
          error.insertAfter(element.parent());
        }
      }

    });
  }
}
</script>

<style>
body.external-page #content .admin-form {
  max-width: 400px;
}
</style>
