<template>
<!-- Begin: Content -->
<section id="content">

  <div class="admin-form theme-danger" id="login1">



    <form class="panel panel-border" method="post" @submit="recover" id="recoverForm" name="recoverForm" autocomplete="off">

      <div :class="{'login-logo': true, 'bg-header-white': isWhite, 'bg-header-black': isBlack}">
          <img :src="logoPath" class="logo-def center"/>        
      </div>

      <!-- end .form-header section -->

      <div class="panel-body bg-light">
        <div class="row">
          <div class="col-sm-12">

            <div class="section">
              <label for="username" class="field-label text-muted fs18 mb10">E-mail</label>
              <label for="username" class="field prepend-icon">
                <input type="email" name="username" id="username" v-model="login" class="gui-input" placeholder="E-mail" required autocomplete="off">
                <label for="username" class="field-icon">
                    <i class="fa fa-user"></i>
                </label>
              </label>
            </div>
            <!-- end section -->

          </div>
        </div>
      </div>

      <!-- end .form-body section -->
      <div class="panel-footer clearfix p10 ph15">
        <sui-button class="ui right customBtn button pull-right" @click="recover">Recuperar</sui-button>

        <button type="submit" class="button btn-default mr10 pull-left" @click="voltar">Voltar</button>
        </label>
      </div>
      <!-- end .form-footer section -->

    </form>
  </div>

</section>
</template>


<script>
export default {
  name: 'recover',
  data() {
    return {
      login: null,
    }
  },
  methods: {
    recover: function(event) {
      event.preventDefault();
      if ($("#recoverForm").valid()) {
        this.$http.post('/login/lostPassword/' + this.login, {})
          .then(function(resp) {
            this.$notify.addSuccessMessage('Solicitação efetuada com sucesso! Em instantes você receberá um e-mail com as informações de acesso.');
            this.voltar();
          })
          .catch(function(resp) {
            this.$notify.addErrorMessage('Falha ao solicitar recuperação de senha. Tenta novamente mais tarde.');
          })
      }
    },
    voltar: function() {
      this.$router.push(process.env.LOGIN_PATH);
    }
  },
  computed: {
    logoPath: function() {
      if (this.companyConfig && this.companyConfig.urlLogo) {
        return this.companyConfig.urlLogo;
      }
      return '';
    },
    isWhite: function() {
      if (this.companyConfig && this.companyConfig.headerColor) {
        return this.companyConfig.headerColor.name == 'WHITE';
      }
      return false;
    },
    isBlack: function() {
      if (this.companyConfig && this.companyConfig.headerColor) {
        return this.companyConfig.headerColor.name == 'BLACK';
      }
      return false;
    },
    companyConfig: function() {
      return this.$store.state.currentCompanyConfig;
    }
  },
  mounted: function() {
    $("#recoverForm").validate({

      /* @validation states + elements
      ------------------------------------------- */

      errorClass: "state-error",
      validClass: "state-success",
      errorElement: "em",

      /* @validation rules
      ------------------------------------------ */

      rules: {
        username: {
          required: true
        }
      },

      /* @validation error messages
      ---------------------------------------------- */

      messages: {
        username: {
          required: 'E-mail é obrigatório'
        }
      },

      /* @validation highlighting + error placement
      ---------------------------------------------------- */

      highlight: function(element, errorClass, validClass) {
        $(element).closest('.field').addClass(errorClass).removeClass(validClass);
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).closest('.field').removeClass(errorClass).addClass(validClass);
      },
      errorPlacement: function(error, element) {
        if (element.is(":radio") || element.is(":checkbox")) {
          element.closest('.option-group').after(error);
        } else {
          error.insertAfter(element.parent());
        }
      }

    });
  }
}
</script>

<style>
body.external-page #content .admin-form {
  max-width: 400px;
}
</style>
